<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.admin.manage-user.title}">Manage User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/df2eef8f6b.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/../fragments/header :: header"> </div>
<div th:replace="/../fragments/admin_menu :: admin_menu"> </div>
<h1 th:text="#{label.admin.manage-user.title}">
    Manage User
</h1>
<a class="badge badge-danger" th:text="#{label.admin.manage-user.create-user}" th:href="@{/admin/create-user}"> Create new user</a>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th th:text="#{label.admin.manage-user.fullname}" scope="col">Fullname</th>
                    <th th:text="#{label.admin.manage-user.email}" scope="col">Email</th>
                    <th th:text="#{label.admin.manage-user.role}" scope="col">Role</th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${userList}">
                    <th scope="row" th:text="${user.id}">id</th>
                    <td th:text="${user.fullname}">fullname</td>
                    <td th:text="${user.email}">email</td>
                    <td th:each="role:${user.roles}">
                        <p th:text="${role.name}"></p>
                    </td>
                    <td>
                        <a th:href="@{/admin/edit/{id}(id=${user.id})}"><i class="fas fa-edit"></i></a>
                        <a th:href="@{/admin/delete/{id}(id=${user.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>