<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title th:text="#{label.admin.post-view.title}" >View Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/df2eef8f6b.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/../fragments/header :: header"> </div>
<div th:replace="/../fragments/admin_menu :: admin_menu"> </div>

<div class="container">
    <h3 th:text="${post.title}"></h3>

    <em class="me-2" th:text="${#temporals.format(post.create_at, 'dd-MMM-yyyy')}"></em>
    <!--    Tag-->
    <ul  th:each="tag : ${tagList}">
        <li><a th:href="${'/tag/' + tag.id}" th:text="${tag.name}">tag link</a></li>
    </ul>
    <p th:utext="${post.content}" class="mt-2"></p>
</div>

</body>
</html>