<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<div>
    <h2  class="text-center" th:text="#{label.forgot.title }">Forgot Password</h2>
</div>

<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
        <div th:text="#{label.forgot.text}">
            <p>We will be sending a reset password link to your email.</p>
        </div>
        <div>
            <p>
                <input type="email" name="email" class="form-control" th:placeholder="#{label.forgot.placeholder}" required autofocus/>
            </p>
            <p class="text-center">
                <input type="submit" th:value="#{label.forgot.button}" class="btn btn-primary" />
            </p>
        </div>
        <div th:if="${error != null}">
            <p th:text="#{label.forgot.error}" class="text-danger">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p th:text="#{label.forgot.success}" class="text-primary">[[${message}]]</p>
        </div>
    </div>
</form>

</body>
</html>