<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/df2eef8f6b.js" crossorigin="anonymous"></script>

</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<div th:replace="fragments/menu :: menu"> </div>
<!-- Layout Post -->
<div class="container-fluid text-center">
    <div class="row">
<!--    Get All Post-->
        <div></div>
            <div class="col-sm-3" th:each="post:${listPost}">
                <div th:each="tag:${post.tags}">
                    <div th:switch="${tag.name}">
                        <p th:case="'Java_Basic'"> <img src="/images/java.png" alt="image not found"> </p>
                        <p th:case="'Spring_Boot'"> <img src="/images/springboot.png" alt="image not found"></p>
                        <p th:case="'IT_Japanese'"> <img src="/images/IT_JP.png" alt="image not found"></p>
                        <p th:case="*">Not define tag</p>
                    </div>
                </div>
                <span class="card-text" style="font-family:courier;" th:text="${post.title}">Title</span>
                <p class="card-text" th:utext="${#strings.abbreviate(post.content, 100)}">content</p>
                <a class="card-text" style="font-family:courier;" th:href="@{/posts/{id}(id=${post.user.id})}"  th:text="${post.user.fullname}">Tac gia</a>
                <div class="card-text" style="font-family:courier;" th:text="${post.create_at}">Ngay viet</div>
                <div th:if="${post.comments.size > 0}" style="display:inline">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <div class="me-2" th:text="${post.comments.size}"></div>
                </div>
                <div>
                    <a th:text="#{label.menu.post.see-more}" th:href="@{/post/{id}(id=${post.id})}" class="card-link">See more...</a>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid text-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:each="paging : ${pagings}" th:classappend="${paging.active}">
                <a class="page-link" th:href="${'/' + paging.index}" th:text="${paging.title}"></a>
            </li>
        </ul>
    </nav>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>